@import "../../../styles/buttons";

.create-game-form {
  display: grid;
  padding: 1rem 5rem;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 5rem;
}

.create-game-title {
  font-size: 5.5rem;
}
