@import "../../../styles/variables";

.create-game-form {
  display: grid;
  padding: 1rem 5rem;
  grid-template-rows: repeat(auto-fit, max-content);
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
.submit-button {
  font-size: inherit;
  font-weight: 300;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: #ccc; // TODO change to variable
  outline: none;
  transition: all 0.4s;
  width: 25%;

  &:hover {
    background-color: red;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1) translateY(0.8rem);
  }
}
