@import "../../../styles/variables";

.question-button {
  font-size: 3.5rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  background-color: $control-base-color;
  color: $control-text-color;

  &:hover {
    background-color: darken($control-base-color, 20%);
  }

  &:active {
    transform: translateY(3px);
  }
}

.wrong-answer {
  background-color: $incorrect-color !important;
}
.correct-answer {
  background-color: $correct-color !important;
}
