@import "../../../styles/variables";

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
  grid-template-rows: 1fr max-content 1fr;
  padding: 2rem 3.5rem;
}

.wrong-count-section {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: $secondary-background-color;
  width: 30%;
}

.end-game-section {
  grid-column: 3 / 4;
  display: grid;
  place-content: center;
}

.current-question-section {
  grid-column: 1 / 3;
  background-color: $secondary-background-color;
}

.answers-section {
  grid-row: 3 / 4;
  grid-column: 1 /-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: auto;
  padding: 1.5rem;
  gap: 2rem;
  width: 50%;
}
