@import "../../../styles/variables";
@import "../../../styles/mixins";

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
  grid-template-rows: 1fr max-content 1fr;
  padding: 2rem 3.5rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr max-content;
  }
}

.wrong-count-section {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: $secondary-background-color;
  width: 30%;

  @include respond(tab-land) {
    grid-column: 1/ 2;
    width: 80%;
  }
}

.end-game-section {
  grid-column: 3 / 4;
  display: grid;
  place-content: center;

  @include respond(tab-land) {
    grid-column: 2/ 3;
  }
}

.current-question-section {
  grid-column: 1 / 3;
  background-color: $secondary-background-color;

  @include respond(tab-land) {
    grid-column: 1/ 2;
  }
}

.answers-section {
  grid-row: 3 / 4;
  grid-column: 1 /-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: auto;
  padding: 1.5rem;
  gap: 2rem;
  width: 50%;

  @include respond(phone) {
    margin: 0;
    width: 100%;
  }
}
