@import "./variables";
@import "./mixins";

// text input combination controls for type div -> label input
.input {
  &-container {
    display: grid;
    grid-template-columns: 20rem minmax(20rem, 40rem);
    column-gap: 5rem;
    grid-template-rows: max-content;

    .error-text {
      grid-column: 2 / -1;
      color: $incorrect-color;
      font-weight: 700;
      font-size: 2rem;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
      grid-template-columns: 20rem 30rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
      grid-template-columns: 15rem 20rem;
    }
  }

  &-label {
    font-weight: 700;
  }

  &-control {
    font-size: inherit;
    background-color: $control-base-color;
    color: $control-text-color;
    border-radius: 0.5rem;
    height: max-content;
  }

  &-error {
    border: solid 0.2rem $incorrect-color !important;
  }
}

.select {
  &-container {
    display: grid;
    grid-template-columns: 20rem max-content;
    column-gap: 5rem;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
      grid-template-columns: 15rem 20rem;
    }
  }

  &-label {
    font-weight: 700;
  }

  &-control {
    font-size: inherit;
    cursor: pointer;
    height: max-content;
  }
}
