// text input combination controls for type div -> label input
.input {
  &-container {
    display: grid;
    grid-template-columns: 20rem minmax(20rem, 50rem);
    column-gap: 5rem;

    .error-text {
      grid-column: 2 / -1;
      color: red;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  &-label {
    font-weight: 700;
  }

  &-control {
    font-size: inherit;
    background-color: #ccc; // TODO change to variable
    border-radius: 0.5rem;
  }

  &-error {
    border: solid 0.2rem red !important; // TODO change to variable
  }
}
