$primary-background-color: #5f6472;
$secondary-background-color: #383741;
$primary-foreground-color: #ffffff;
$control-base-color: #ffffff;
$control-select-color: #649650;
$control-text-color: #645959;
$correct-color: #2df97f;
$incorrect-color: #ff5b5b;
