$primary-background-color: #5f6472;
$secondary-background-color: #383741;
$primary-foreground-color: #ffffff;
$control-base-color: #ffffff;
$control-select-color: #649650;
$control-text-color: #645959;
$correct-color: #2df97f;
$incorrect-color: #ff5b5b;
$table-border-color: #18162c;
$table-header-background-color: #18162c;
$table-even-color: #223363;
$table-odd-color: #383741;
