@import "../../styles/variables";
@import "../../styles/mixins";

.about {
  &-container {
    display: grid;
    place-content: center;
    grid-template-rows: max-content 1fr;
    font-size: 2.5rem;
    gap: 6.5rem;

    @include respond(tab-land) {
      font-size: 2rem;
      place-content: start;
      gap: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  &-title {
    font-size: 5.5rem;

    @include respond(tab-land) {
      font-size: 3.5rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &-link {
    font-weight: 700;
    color: $primary-foreground-color;
    translate: all 0.2s;

    &:visited {
      color: $primary-foreground-color;
    }
  }
}
