@import "../../../styles/buttons";

.end-game {
  &__title {
    font-size: 5.5rem;
    text-align: center;
  }

  &__container {
    display: grid;
    gap: 2rem;
    place-content: center;
  }

  &__info {
    font-size: 3.5rem;
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;

    .app-button {
      width: 100%;
    }
  }
}

.special-note {
  font-size: 1.5rem;
}
