@import "../../styles/buttons";
@import "../../styles/mixins";

.home {
  &-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    padding: 3.5rem;
    place-content: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;

    @include respond(tab-land) {
      .app-button {
        width: 75%;
      }
    }

    @include respond(tab-port) {
      padding: 2.5rem;
      place-content: start;

      .app-button {
        width: 100%;
      }
    }
  }

  &-title {
    font-size: 5.5rem;
  }
}
