@import "../styles/variables";

.App {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
  background-color: $primary-background-color;
  color: $primary-foreground-color;
}
